<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name></display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<resource-ref>
		<res-ref-name>jdbc/ccl</res-ref-name>

		<res-type>javax.sql.DataSource</res-type>

		<res-auth>Container</res-auth>
	</resource-ref>

	<servlet>
		<servlet-name>registerControlServlet</servlet-name>
		<servlet-class>com.servlet.registerControlServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>registerNameCheck</servlet-name>
		<servlet-class>com.servlet.registerNameCheck</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>registerPhoneCheck</servlet-name>
		<servlet-class>com.servlet.registerPhoneCheck</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.servlet.Login</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Search</servlet-name>
		<servlet-class>com.servlet.Search</servlet-class>
	</servlet>






	<servlet-mapping>
		<servlet-name>registerControlServlet</servlet-name>
		<url-pattern>/registerControl</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>registerNameCheck</servlet-name>
		<url-pattern>/uNameCheck</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>registerPhoneCheck</servlet-name>
		<url-pattern>/uPhoneCheck</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	
	

</web-app>
